.solution {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
}

.stepper {
  flex-grow: 2;
}

.arrow-icons {
  display: flex;
  height: 72px;
  align-items: center;
}

.action-buttons {
  margin-left: 4rem;
}